<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style>
        .contentsAlign{
            text-align: center;
        }

        .titleBox {
            font-size: 18pt;

        }
    </style>
</head>
<body>
<div class = "contentsAlign titleBox">
    <p>홈 화면</p>
</div>

<div>
    <button onclick="location.href = '/members/new'">회원가입</button>
    <button onclick="location.href = '/members'">회원목록</button>
</div>


</body>
</html>